
.header-wrapper {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 200px;
  width: 100%;
}

.header-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
  padding-top: 10px;
}

.title {
  font-size: 100px;
  font-weight: bolder;
}

.header-navigation {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: flex-end;
}

.header-text {
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  margin: auto;
}
