<h1>compare</h1>

<section>
  <div>
    <!-- first city -->
    <form ng-submit="getWeather1(searchLocation1)">
      <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation1"/>
      <button type="submit" name="button"></button>
    </form>

    <div>
      {{cityData1.name}}
    </div>
    <div>
      Temp: {{cityData1.main.temp}}
    </div>
    <div>
      Max: {{cityData1.main.temp_max}}°
      Min: {{cityData1.main.temp_min}}°
    </div>
    <div>
      Humidity: {{cityData1.main.humidity}}%
    </div>
  </div>

  <div>
    <!-- second city -->
    <form ng-submit="getWeather2(searchLocation2)">
      <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation2"/>
      <button type="submit" name="button"></button>
    </form>

    <div>
      {{cityData2.name}}
    </div>
    <div>
      Temp: {{cityData2.main.temp}}
    </div>
    <div>
      Max: {{cityData2.main.temp_max}}°
      Min: {{cityData2.main.temp_min}}°
    </div>
    <div>
      Humidity: {{cityData2.main.humidity}}%
    </div>
  </div>

  <div>
    <!-- third city -->
    <form ng-submit="getWeather3(searchLocation3)">
      <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation3"/>
      <button type="submit" name="button"></button>
    </form>

    <div>
      {{cityData3.name}}
    </div>
    <div>
      Temp: {{cityData3.main.temp}}
    </div>
    <div>
      Max: {{cityData3.main.temp_max}}°
      Min: {{cityData3.main.temp_min}}°
    </div>
    <div>
      Humidity: {{cityData3.main.humidity}}% 
    </div>
  </div>
</section>
