
<section class="compare-wrapper">

  <div class="compare-main-div">

    <!-- FIRST CITY -->
    <!-- submit cit/zip -->
    <div class="compare-city">
      <div class="compare-submit">
        <form ng-submit="getWeather1(searchLocation1)">
          <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation1" class="compare-input"/>
          <button type="submit" name="button" ng-click="compareCity1=true;" class="compare-button"></button>
        </form>
      </div>

      <!-- city 1 -->
      <div ng-if="compareCity1" class="compare-city-results">
        <div class="compare-city-name">
          {{cityData1.name}}
        </div>

        <!-- temp 1 -->
        <div class="compare-temp">
          Temp: {{cityData1.main.temp}}°
        </div>

        <!-- hi/lo 1 -->
        <div class="compare-hilo">
          <p><span class="compare-max">Max:</span> {{cityData1.main.temp_max}}°</p>
          <p><span class="compare-min">Min:</span> {{cityData1.main.temp_min}}°</p>
        </div>

        <!-- humidity 1 -->
        <div class="compare-humidity">
          Humidity: {{cityData1.main.humidity}}%
        </div>
      </div>
    </div>

    <!-- SECOND CITY -->
    <!-- submit -->
    <div class="compare-city">
      <div class="compare-submit">
        <form ng-submit="getWeather2(searchLocation2)" class="compare">
          <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation2" class="compare-input"/>
          <button type="submit" name="button" ng-click="compareCity2=true;" class="compare-button"></button>
        </form>
      </div>

      <!-- city 2 -->
      <div ng-if="compareCity2" class="compare-city-results">
        <div class="compare-city-name">
          {{cityData2.name}}
        </div>

        <!-- temp 2 -->
        <div class="compare-temp">
          Temp: {{cityData2.main.temp}}°
        </div>

        <!-- hi/lo 2 -->
        <div class="compare-hilo">
          <p><span class="compare-max">Max:</span> {{cityData2.main.temp_max}}°</p>
          <p><span class="compare-min">Min:</span> {{cityData2.main.temp_min}}°</p>
        </div>

        <!-- humidity 2 -->
        <div class="compare-humidity">
          Humidity: {{cityData2.main.humidity}}%
        </div>
      </div>
    </div>

    <!-- THIRD CITY -->
    <!-- submit -->
    <div class="compare-city">
      <div class="compare-submit">
        <form ng-submit="getWeather3(searchLocation3)">
          <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation3" class="compare-input"/>
          <button type="submit" name="button" ng-click="compareCity3=true;" class="compare-button"></button>
        </form>
      </div>

      <!-- city 3 -->
      <div ng-if="compareCity3" class="compare-city-results">
        <div class="compare-city-name">
          {{cityData3.name}}
        </div>

        <!-- temp 3 -->
        <div class="compare-temp">
          Temp: {{cityData3.main.temp}}°
        </div>

        <!-- hi/lo 3 -->
        <div class="compare-hilo">
          <p><span class="compare-max">Max:</span> {{cityData3.main.temp_max}}°</p>
          <p><span class="compare-min">Min:</span> {{cityData3.main.temp_min}}°</p>
        </div>

        <!-- humidity 3 -->
        <div class="compare-humidity">
          Humidity: {{cityData3.main.humidity}}%
        </div>
      </div>
    </div>

  </div>

</section>
