<h1>Five Day Forecast page</h1>
<form ng-submit="getForecast(searchLocation)">
  <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation"/>
  <button type="submit" name="button" ng-click="forecastDays=true;"></button>
</form>
<section >
<!-- day 1 -->
  <div class="" ng-if="forecastDays" ng-repeat="day in forecast | limitTo: 5">
    <div class="">
      <div class="">
        <!-- day -->Day: {{day.dt_txt}}
      </div>
    </div>

    <div class="">
      <div class="">
        <!-- high -->High: {{day.main.temp_max}}°
      </div>
      <div class="">
        <!-- low -->Low: {{day.main.temp_min}}°
      </div>
    </div>

    <div class="">
      <div class="">
        <!-- weather -->Weather: {{day.weather[0].description}}
        Icon: <img ng-src="{{day.weatherIcon}}" alt=""/>
      </div>
      <div class="">
        <!-- humidity -->Humidity: {{day.main.humidity}}%
      </div>
    </div>
  </div>
</section>
