<h1>Five Day Forecast page</h1>

<!-- submit city/zip -->
<div class="fiveday-submit">
  <form ng-submit="getForecast(searchLocation)">
    <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation"/>
    <button type="submit" name="button" ng-click="forecastDays=true;"></button>
  </form>
</div>

<!-- FIVEDAY FORECAST -->
<section class="fiveday-wrapper">

  <div ng-if="forecastDays" ng-repeat="day in forecast | limitTo: 5"  class="fiveday-main-div">

    <!-- day of the week -->
    <div class="fiveday-day">
      <p>Day: {{day.dt_txt}}</p>
    </div>

    <!-- hi/lo -->
    <div class="fiveday-hilo">
      <div class="fiveday-high">
        <p>High: {{day.main.temp_max}}°</p>
      </div>
      <div class="fiveday-low">
        <p>Low: {{day.main.temp_min}}°</p>
      </div>
    </div>

    <!-- weather & humidity description -->
    <div class="fiveday-weather-humidity-main">
      <!-- weather -->
      <div class="fiveday-weather">
        <p>Weather: {{day.weather[0].description}}</p>
        <!-- Icon: <img ng-src="{{day.weatherIcon}}" alt=""/> -->
      </div>

      <!-- humidity -->
      <div class="fiveday-humidity">
        <p>Humidity: {{day.main.humidity}}%</p>
      </div>
    </div>

  </div>

</section>
