
<section class="home-wrapper">
  <!-- submit city/zip -->
  <div class="home-submit">
    <form ng-submit="getWeather(searchLocation)">
      <input type="text" placeholder="Enter City/Zip Code" ng-model="searchLocation" class="home-input"/>
      <button type="submit" name="button" ng-click="tempToday=true;" class="home-button"></button>
    </form>
  </div>

  <!-- city -->
  <div ng-if="tempToday" class="home-forecast">
    <div class="home-city">
      Forecast for: {{cityData.name}}
    </div>

    <!-- temp -->
    <div class="home-temp">
      <p>Temp: {{cityData.main.temp}}°</p>
    </div>

    <!-- hi/lo -->
    <div class="home-hilo">
      <p><span class="home-max">Max:</span> {{cityData.main.temp_max}}°</p>
      <p><span class="home-min">Min:</span> {{cityData.main.temp_min}}°</p>
    </div>

    <!-- humidity -->
    <div class="home-humidity">
      <p>Humidity: {{cityData.main.humidity}}%</p>
    </div>
  </div>

  <!-- error box -->
  <div class="home-error-box">
    <div class="error-handler" ng-if="!cityData" style="background-color: red; height: 10px; width: 50px"></div>
  </div>

</section>
